<section id="skills" class="py-5">
  <div class="container">
    <h1 class="title">Prowess</h1>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="progress-wrapper">
          <h4>HTML5</h4>
          <div class="progress">
            <div class="progress-bar" style="width: 90%;"></div>
          </div>
        </div>
        <div class="progress-wrapper">
          <h4>CSS3</h4>
          <div class="progress">
            <div class="progress-bar" style="width: 85%;"></div>
          </div>
        </div>
        <div class="progress-wrapper">
          <h4>Bootstrap</h4>
          <div class="progress">
            <div class="progress-bar" style="width: 80%;"></div>
          </div>
        </div>
        <div class="progress-wrapper">
          <h4>Angular</h4>
          <div class="progress">
            <div class="progress-bar" style="width: 75%;"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="progress-wrapper">
          <h4>Typescript</h4>
          <div class="progress">
            <div class="progress-bar" style="width: 70%;"></div>
          </div>
        </div>
        <div class="progress-wrapper">
          <h4>Figma</h4>
          <div class="progress">
            <div class="progress-bar" style="width: 80%;"></div>
          </div>
        </div>
        <div class="progress-wrapper">
          <h4>No code platform</h4>
          <div class="progress">
            <div class="progress-bar" style="width: 90%;"></div>
          </div>
        </div>
        <div class="progress-wrapper">
          <h4>Git</h4>
          <div class="progress">
            <div class="progress-bar" style="width: 75%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
