<!--Skills section-->
<section id="skills" class="bg-light py-5">
    <div class="container">
      <h2 class="text-center mb-5">My Skills</h2>
      <div class="row">
        <div class="col-sm-6 col-md">
          <div class="skill">
            <div class="skill-value">90%</div>
            <div class="skill-name">HTML</div>
            <div class="skill-bar skill-html"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md">
          <div class="skill">
            <div class="skill-value">80%</div>
            <div class="skill-name">CSS</div>
            <div class="skill-bar skill-css"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md">
          <div class="skill">
            <div class="skill-value">70%</div>
            <div class="skill-name">Typescript</div>
            <div class="skill-bar skill-js"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md">
          <div class="skill">
            <div class="skill-value">80%</div>
            <div class="skill-name">Figma</div>
            <div class="skill-bar skill-js"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md">
          <div class="skill">
            <div class="skill-value">90%</div>
            <div class="skill-name">no code</div>
            <div class="skill-bar skill-js"></div>
          </div>
        </div>
      </div>
    </div>
  </section>