/* Custom CSS */

/* Set height of header */
.navbar {
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #000000;
  }
  
  .navbar-heading {
    position: relative; // set position to relative
  }
  .social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  
  }
  .box-effect {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    background-color: #f7f7f7;
  }
  
  .box-effect:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(146, 16, 16, 0.3);
  }
  
  .box-effect-content {
    padding: 20px;
  }
  
  .box-effect h1 {
    font-size: 36px;
    font-weight: 700;
    color: #444;
    margin-bottom: 20px;
  }
  
  .box-effect p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
  }
  
  
  
  
  .ball {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 149, 255);
    animation: move-ball 2s infinite, color-change 2s infinite;
  }
  
  @keyframes move-ball {
    0% {
      left: 0;
    }
    50% {
      left: calc(100% - 50px);
    }
    100% {
      left: 0;
    }
  }
  
    
  
  .profile-img-wrapper {
    position: relative;
    width: 300px;
    height: 300px;
  }
  
  .robot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/robot.png');
    background-size: cover;
    animation: none;
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .robot {
      animation: moveRobot 8s ease-in-out infinite;
    }
  
    @keyframes moveRobot {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      25% {
        transform: translate(-50%, -50%) rotate(90deg);
      }
      50% {
        transform: translate(-50%, -50%) rotate(180deg);
      }
      75% {
        transform: translate(-50%, -50%) rotate(270deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
  
  @media (max-width: 767px) {
    header {
      height: auto;
    }
  
    .profile-img-wrapper {
      width: 100%;
      height: auto;
    }
  
    .robot {
      animation: none;
    }
  }
  
  .robot.stop {
    animation-play-state: paused;
  }
  
  
  
  .skill {
  text-align: center;
  margin-bottom: 40px;
  }
  
  .skill-value {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  }
  
  .skill-name {
  font-size: 24px;
  margin-bottom: 20px;
  }
  
  .skill-bar {
  height: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  }
  
  .skill-bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, #f6c747, #f17f42);
  transform: translateX(-100%);
  animation: skill-bar 2s ease-in-out forwards;
  }
  
  .skill-html:before {
  width: 90%;
  }
  
  .skill-css:before {
  width: 80%;
  }
  
  .skill-js:before {
  width: 70%;
  }
  
  @keyframes skill-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
  }
  
  /* Footer animation */
  .line, .circle {
  height: 2px;
  background-color: #fff;
  }
  
  .circle {
  height: 12px;
  width: 12px;
  margin: 0 10px;
  border-radius: 50%;
  animation: circle 1s ease-in-out infinite;
  }
  
  @keyframes circle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
  }
  
  
  
  
  