<!--My Work section-->
<section id="my-work" class="py-5">
    <div class="container">
      <h2 class="text-center mb-4">My Work</h2>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="../assets/work-images/tblc.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The Bombay Lettering Company</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, elit eu interdum congue, augue lorem efficitur magna, sit amet rutrum felis magna eu augue.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Project 2</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, elit eu interdum congue, augue lorem efficitur magna, sit amet rutrum felis magna eu augue.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Project 3</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, elit eu interdum congue, augue lorem efficitur magna, sit amet rutrum felis magna eu augue.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>