<!-- Navigation -->
<nav class="navbar">
    <div class="container">
      <h1 class="navbar-heading text-light">
        <span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span>
      </h1>
      
      <div class="social-icons">
        <a href="https://github.com/KashifSidd" target="_blank">
          <img src="../assets/images/github.svg" alt="">
        </a>  
        <a href="https://www.linkedin.com/in/kashif-siddiqui-778967211/" target="_blank">
          <img src="../assets/images/linkedln.svg" alt="">
        </a>
        <a href="https://www.instagram.com/hopefully_if/" target="_blank">
          <img src="../assets/images/instagram.svg" alt="">
        </a>
      </div>
    </div>
    <div class="ball"></div>
  </nav>