<!-- Header -->
<header class="bg-light py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="card box-effect">
            <div class="card-body">
              <h1>Hi, I'm Kashif Siddiqui</h1>
              <div class="box-effect-content">
                <p class="lead">As a frontend developer with 3 years of experience, I specialize in HTML, CSS, Bootstrap, Angular, and TypeScript. I also have expertise in no-code platforms like Wix, Shopify, and Webflow. I am passionate about creating visually appealing and user-friendly websites and am dedicated to delivering high-quality services to my clients..</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 d-flex justify-content-center justify-content-md-end">
          <div class="profile-img-wrapper">
            <div class="robot" (mouseenter)="stopRobotAnimation()"></div>
          </div>
        </div>
        
      </div>
    </div>
  </header>
  