.box-effect {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    background-color: #f7f7f7;
  }
  
  .box-effect:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(146, 16, 16, 0.3);
  }
  
  .box-effect-content {
    padding: 20px;
  }
  
  .box-effect h1 {
    font-size: 36px;
    font-weight: 700;
    color: #444;
    margin-bottom: 20px;
  }
  
  .box-effect p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
  }

  #header-carousel .carousel-item img {
    height: 300px; /* set a fixed height for the carousel container */
    object-fit: cover;
    border-radius: 15px; /* adjust the images to fit the container */
  }
  
